[submodule "lib/bill"]
	path = lib/bill
[submodule "lib/kitty"]
	path = lib/kitty
	url = https://github.com/lsils/kitty.git
[submodule "lib/lorina"]
	path = lib/lorina
[submodule "lib/mockturtle"]
	path = lib/mockturtle
[submodule "lib/parallel_hashmap"]
	path = lib/parallel_hashmap
[submodule "lib/percy"]
	path = lib/percy
[submodule "lib/pybind11"]
	path = lib/pybind11
[submodule "lib/fmt"]
	path = lib/fmt
