build/
cmake-build-*/
*.so
*.pyd
*.o
*.a
*.out
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

rlenv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/

lib/
**/.gitmodules.bak

benchmarks/
# benchmarks/*_cleaned/
# *.v.bak
# *.blif.bak

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.log
*.tmp
*.temp
preprocess.sh.log

*.chmod

*.zip
*.tar.gz
*.7z

*.sh-output
*.sh-error